{% extends 'base.html' %}
{%block title%}Timeline{%endblock%}
{%block logo%}Timeline{%endblock%}
{%block content%}
{% for post in posts %}
<div class="card">
	<div class="card-stacked">

		<div class="card-content">
			<span class="card-title">
				{{ post.texto }}
			</span>
		</div>
		<div class="card-action">
			<span>
			escirto por <a href="{% url 'autor' post.autor.id %}">{{ post.autor.username }}</a>
		 </span>

			<a class="right-align" href="{% url 'curtir_post' post.pk %}">
				<span class="chip right">
					<i class="left close material-icons">thumb_up</i>{{ post.likes|default_if_none:0 }} curtidas
				</span>
			</a>
		</div>
	</div>
</div>
{% empty %}
<p>Não há posts para exibir!</p>
{% endfor posts %}
{%endblock%}
