{% extends 'base.html' %}
{%block title%}Timeline{%endblock%}
{%block logo%}Timeline{%endblock%}
{%block content%}
{% for post in posts %}
<div class="card horizontal">
	<div class="card-image">
		<img src="http://3.bp.blogspot.com/-p4JvM7rWNG4/T6ZcU5eKqTI/AAAAAAAACGM/K0DB35A5brE/s1600/facebook.gif" alt=""> <!-- TODO substituir por arquivos off -->
	</div>
	<div class="card-stacked">
		<div class="card-content">{{ post.texto }}</div>
		<div class="card-action">por <a href="#" title="">{{ post.autor.username }}</a></div>
	</div>
</div>
{% empty %}
<p>Não há posts para exibir!</p>
{% endfor posts %}
{%endblock%}